*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #081b29;
    color: #ededed;
}
/* for header */
.head
{
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-weight: 600;
    font-size: 22px;
    color: rgb(107, 107, 99);
    text-decoration: none;
    margin-left: 15px;
    transition: .5s;
}
.logo:hover {
    color: #fff;
}
.navbar a {
    font-weight: 500;
    font-size: 17px;
    color: rgb(107, 107, 99);
    text-decoration: none;
    justify-content: space-between;
    margin: 20px;
    transition: .3s;
}
.navbar a:hover {
    color: rgb(255, 255, 255);
}

/* for main section */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.homecontent
{
    max-width: 600px; 
    /* instead of using <br> */
}
.homecontent h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.homecontent h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.homecontent p{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #00adf0;
    line-height: 1.5;
}
.homecontent a{
    margin-bottom: 90px;
    position: relative;
    display: inline-flex;
    width: 90px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #00adf0;
    border-radius: 20%;
    text-decoration: none;
    font-size: 15px;
    color: #00adf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.homecontent a:hover{
    color: #081b29;
}
.homecontent a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height:100%;
    background-color: #00adf0;
    z-index: -1;
    transition: .3s;
}
.homecontent a:hover::before{
    width: 100%;
}
.social {
    position: absolute;
    bottom: 150px;
    width: 170px;
    /* background-color: red; */
    justify-content: space-between;
    display: flex;
}
.social a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #00adf0;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    color: #00adf0;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.social a:hover {
    color:#081b29
}
.social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00adf0;
    z-index: -1;
    transition: .5s;
}
.social a:hover::before {
    width: 100%;

}
/* login form */

/* footer section */
.foot {
    display: flex;
    background-color: #081b29;
    color: white;
    padding: 2em;
    margin: 20px;
    justify-content: space-between;
}
.foot text {
    color: white;
    text-align: right;
}
.social_con {
    position: absolute;
    right: 0;
    margin: 0px 50px 10px;
    justify-content: space-between;
}
.social_con a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #00adf0;
    text-decoration: none;
    font-size: 20px;
    color: #00adf0;
    z-index: 1;
    overflow: hidden;
}
.social_con a:hover {
    color: #081b29;
}
.social_con a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00adf0;
    z-index: -1;
    transition: .5s;
}
.social_con a:hover::before {
    width: 100%;
}